/* Jogos */

#jogos {
    background-color: #a5bfdb;
}
  
#jogos .grid-item {
    background-color: #567699;
    color: #fff;
}
  
#jogos .grid-item:hover {
    background-color: #6595ca;
}
  
/* Unfinished */
  
#unfinished {
    background-color: #9c9d9f;
}
  
#unfinished .grid-item {
    background-color: #4c4e51;
    color: #fff;
}
  
#unfinished .grid-item:hover {
    background-color: #323435;
}
  
/* Art */
  
#art {
    background-color: #c465bf;
}
  
#art .grid-item {
    background-color: #dd92d9;
    color: #000;
}
  
#art .grid-item:hover {
    background-color: #ecb3e9;
}

/* Apps */
  
#apps {
    background-color: #c45151;
}
  
#apps .grid-item {
    background-color: #e69b8a;
    color: #000;
}
  
#apps .grid-item:hover {
    background-color: #e6bca3;
}

/* Anim */
  
#anim {
    background-color: #e6b049;
}
  
#anim .grid-item {
    background-color: #df922f;
    color: #000;
}
  
#anim .grid-item:hover {
    background-color: #eace61;
}

/* Music */
  
#music {
    background-color: #97e34a;
}
  
#music .grid-item {
    background-color: #55b022;
    color: #000;
}
  
#music .grid-item:hover {
    background-color: #6ec83c;
}